body {
    margin: 0;
    padding: 0;
    background-image: url('toasterlordv2.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Keeps things centered */
    color: #fff; /* Adjust based on your background */
}

h1 {
    font-family: 'Creepster', cursive; /* Use the font you chose */
    font-size: 3em; /* Adjust the size as needed */
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    border-radius: 10px; /* Rounds the corners of the background */
}


#hit-counter {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000080; /* Navy Blue */
    color: #00FF00; /* Neon Green */
    padding: 10px;
    border: 2px dashed #FFD700; /* Gold */
    position: absolute; /* Positioning relative to the nearest positioned ancestor or the viewport */
    top: 0;
    left: 0;
    margin: 0;
}

#hit-counter p {
    margin: 0;
    font-size: 20px;
}

#souls-bathed-count {
    font-weight: bold;
}
